/* =========================================
Common Styles
========================================= */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  background: $ca-site-background;
}

html,
body {
  position: relative;
}

.site {
  display: flex;
  min-height: 100vh;
  background: transparent;
  flex-direction: column;
}

.main {
  flex: 1;
  opacity: 0;
  transition: all $a-timing $a-timing $a-easing;

  .js-is-initialized & {
    opacity: 1;
  }

  .js-is-loading & {
    opacity: 0;
  }
}
