.soft-bottom {
  padding-bottom: $d-base !important;
}

.soft-top {
  padding-top: $d-base !important;
}

.soft-bottom--duo {
  padding-bottom: $d-duo !important;
}

.soft-top--duo {
  padding-top: $d-duo !important;
}

.soft-bottom--trio {
  padding-bottom: $d-trio !important;
}

.soft-top--trio {
  padding-top: $d-trio !important;
}

.soft-bottom--quad {
  padding-bottom: $d-quad !important;
}

.soft-top--quad {
  padding-top: $d-quad !important;
}

.soft-bottom--quin {
  padding-bottom: $d-quin !important;
}

.soft-top--quin {
  padding-top: $d-quin !important;
}