.announcement {
  padding: $d-duo;
  background: $c-yellowLightest;
  border-top: 1px solid $c-sky;

  p {
    padding: $d-base;
    font-size: $t-font-size-delta-mobile;    
  }

  .icon {
    height: $d-duo;
    width: $d-duo;
  }

  .button--close {
    top: 10px;
    right: $d-trio;
  }

}