.banner {
  display: flex;
  padding: $d-quin;
  
  @include bp($bp-tablet) {
    min-height: calc(100vh - #{$d-header-height});
  }

  h1, h2, p, a {
    text-align: left;
  }

}

.banner__image, .banner__text {
  max-width: 50%;
  padding: $d-trio;
}

.banner__image-crop {
  height: 640px;
  overflow: hidden;
}

.banner__image {
  img {
    height: 640px;
    object-position: center;
    object-fit: cover;
  }
}

.banner__left {
  flex-direction: row-reverse;
}

.banner__center {
  text-align: center;
  flex-direction: column-reverse;
  justify-content: center;

  .banner__image {
    max-width: 100%;
  }

  .banner__text {
    max-width: 900px;
    margin: 0 auto;
  }

  h1, h2, p, a {
    text-align: center;
  }

  .banner__image-crop {
    height: 480px;
    overflow: visible;
  }

  img {
    height: 100%;
    width: 100%;
    object-position: center;
    object-fit: contain;
  }
}

.banner__background {
  background-image: url($p-svg + 'confetti.svg');
  top: 0;
  position: fixed;
  height: 100vh;
  width:100vw;
  background-size: cover;
  background-position: 50% 50%;
  z-index: -1;
  svg {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 200vw;
    min-height: 200vh;
    margin: auto;
  }
}
