.banner {
  display: flex;
  padding: $d-quin;
  
  // @include bp($bp-tablet) {
  //   min-height: calc(100vh - #{$d-header-height});
  // }

  h1, h2, p, a {
    text-align: left;
  }
}

.banner__image, .banner__text {
  max-width: 50%;
}

.banner__left .banner__text {
  padding-left: $d-sex;
  padding-right: 0;
}

.banner__right .banner__text {
  padding-right: $d-sex;
  padding-left: 0;
}

.banner__center .banner__text {
  padding-top: $d-quin;
}

.banner__image-crop {
  height: 640px;
  overflow: hidden;
  justify-content: space-around;
  display: flex;
  box-shadow: $sha-xl;
}

.banner__image {
  
  img {
    height: 640px;
    object-position: center;
    object-fit: cover;
  }
}

.banner__left {
  flex-direction: row-reverse;
}

.banner__center {
  text-align: center;
  flex-direction: column-reverse;

  .banner__image {
    max-width: 100%;
  }

  .banner__text {
    max-width: 860px;
    margin: 0 auto;
  }

  h1, h2, p, a {
    text-align: center;
  }

  .banner__image-crop {
    height: 480px;
    overflow: visible;
    box-shadow: none;
  }

  img {
    height: 100%;
    width: auto;
    object-position: center;
    object-fit: contain;
    box-shadow: $sha-xl;
  }
}

.banner__background {
  background-image: url($p-svg + 'confetti.svg');
  top: 0;
  position: fixed;
  height: 100vh;
  width:100vw;
  background-size: cover;
  background-position: 50% 50%;
  z-index: -1;
  svg {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 200vw;
    min-height: 200vh;
    margin: auto;
  }
}
