/* =========================================
Footer Component
========================================= */

.footer {
  padding: $d-quin 0;
  position: relative;
  transition: all $a-timing * 2 $a-easing;
  background-color: $ca-footer-background;
  color: $ca-footer-text-color;

  h1 {
    color: $ca-footer-text-color;
  }

  h3 {
    color: $ca-footer-heading-color;
  }

  .note {
    color: $ca-footer-note-color;
    font-size: $t-font-size-zeta;
  }

  .address, a {
    color: $ca-footer-text-color;
  }

  .js-is-loading & {
    opacity: 0;
  }

  .footer__icon {
    padding: $d-quin 0;
    color: $ca-footer-icon-color;
  }

  .footer__inner {
    align-items: flex-start;
    justify-content: flex-start;
    @include bp($bp-tablet) {
      align-items: flex-start;
      justify-content: flex-start;
    }
  }

  .footer__right {
    padding: 0 0 0 $d-quin;
    @include bp($bp-tablet) {
      padding: 0 0 0 $d-quin;
      text-align: left;
    }
  }

  .footer__left {
    padding: 0 $d-quin 0 0;
    @include bp($bp-tablet) {
      padding: 0 $d-quin 0 0;
    }
  }

  .footer__list {
    display: flex;
    list-style: none;
    li {
      padding-right: $d-trio;
      display: inline-flex;
    }
  }

  .hours {
    padding-bottom: $d-trio;
  }

  .location {
    padding-bottom: $d-duo;
  }

}


