.swiper-container {
  max-height: 640px;
}

.swiper-button-prev, .swiper-button-next {
  background-image: none;
  border: $b-inverted;
  background-color: $ca-button-inverted-background-hover;
  & svg {
    fill: $ca-color-inverted;
  }
  &:hover {
    border: $b-anchor;
  }
}

.gallery__caption {
  z-index: 4;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: $d-trio $d-quin $d-duo $d-quin;
  background-image: linear-gradient(to bottom, transparent 0%, rgba(0,0,0,0.8) 100%);

  p, a {
    color: $ca-color-inverted;
  }

  a {
    text-decoration: underline;
  }
}
