/*
essential styles:
these make the slideshow work
*/
.slideshow {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1
}

.slideshow__slide {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  flex-shrink: 0;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 1;
  transition: opacity $a-timing;
  &.is-active {
    opacity: 1;
    z-index: 2;
  }
}

.gallery {
  padding: 0;
  display: flex;
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  z-index: 1;
  min-height: 640px;
  margin-bottom: $d-dec;
}

.gallery__images {
  padding: $d-duo 0 $d-quad;
}

.gallery__content {
  padding: $d-duo $d-quad;

}

.gallery__caption {
  z-index: 4;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: $d-trio $d-quin $d-duo $d-quin;
  background-image: linear-gradient(to bottom, transparent 0%, rgba(0,0,0,0.8) 100%);

  p, a {
    color: $ca-color-inverted;
  }

  a {
    text-decoration: underline;
  }
}
