

.header {
  z-index: index($l-site, header);
  width: 100%;
  padding: $d-quad $d-quin;
}

.header__logo {
  display: flex;
  height: $d-quin;
  width: 170px;
}

.header__group {
  display: flex;
  align-items: center;
}

.header__group--right {
  display: flex;
  .header__nav {
    justify-content: flex-end;
  }
}

.header__nav {
  align-items: baseline;

  a {
    color: $ca-nav-link;
    font-weight: $t-font-weight-bold;
    padding: $d-duo $d-trio;

    &:hover {
      color: $ca-nav-link-hover;
    }
  }

  .icon--arrow-external {
    fill: $ca-nav-link-icon;
  }

  .menu-item-has-children > a {
    &:after {
      content: '';
      position: absolute;
      height: 0;
      width: 0;
      border: 4px solid $ca-nav-link-icon;
      border-left-color: transparent;
      border-right-color: transparent;
      border-bottom-color: transparent;
      right: 0;
      top: 50%;
      transform: translate(0, -25%);
    }

    &:hover:after {
      border-top-color: $ca-nav-link-hover; 
    }
  }

  li {
    &:hover > ul {
      height: auto;
      box-shadow:   $sha-sm;
      background: $ca-sub-nav-background;
      padding-bottom: $d-trio;
    }
  }
}

.header__nav > li {
  display: inline-block;
  position: relative;
}

.sub-menu {
  position: absolute;
  left: 0;
  min-width: 240px;
  height: 0;
  overflow: hidden;
  transition: ease height .5s;
  padding: 0;
  padding-top: $d-duo;

  a {
    color: $ca-sub-nav-link;
    font-size: $t-font-size-epsilon;
    padding: $d-base $d-trio;

    &:hover {
      color: $ca-sub-nav-link-hover;
    }
  }
}

.header__nav li ul li {
  display: block;
  width: auto;
}
