

.header {
  z-index: index($l-site, header);
  position: absolute;
  width: 100%;
  top: 0;
  transition: all $a-timing $a-easing;
  display: flex;
  align-items: center;
  padding: 0 $d-quin;
  height: $d-dec;
}

.header__logo {
  display: flex;
}

.header__group {
  padding-top: $d-duo;
  display: flex;
}

.header__group--left {
}

.header__group--right {
  display: flex;
  .header__nav {
    justify-content: flex-end;
  }
}

.header__nav {
  padding-top: $d-duo;

  a {
    color: $ca-nav-link;
    padding: $d-base $d-quad;
    font-weight: $t-font-weight-bold;

    &:hover {
      color: $ca-nav-link-hover;
    }
  }
  li {
    &:hover > ul {
      height: auto;
      box-shadow:   $sha-sm;
      background: $ca-sub-nav-background;
      padding-bottom: $d-trio;
    }
  }
}

.header__nav > li {
  display: inline-block;
  position: relative;
}

.sub-menu {
  position: absolute;
  left: 0;
  min-width: 240px;
  height: 0;
  overflow: hidden;
  transition: ease height .5s;
  padding: 0;
  padding-top: $d-duo;

  a {
    color: $ca-sub-nav-link;
    font-size: $t-font-size-epsilon;

    &:hover {
      color: $ca-sub-nav-link-hover;
    }
  }
}

.header__nav li ul li {
  display: block;
  width: auto;
}
