.form {
  padding-bottom: $d-base;
}

.newsletterform {
  position: relative;
  display: flex;
}

.newsletterform__label {
  display: block;
  cursor: pointer;
  flex: 1 1 auto;
  padding-right: $d-base;
}




