.searchform {
  padding: $d-quad;
}

.searchform__form {
  border-radius: 2px;
  background: $ca-input-background;
  padding: $d-base;
  border: 1px solid $ca-input-border-color;
  display:flex;

  &:hover {
    border: 1px solid $ca-input-focus-border-color;
  }

  input {
    padding: 0 $d-duo;
  }
}

