.tabs {
  padding: $d-quad $d-quad 0;
  background: $ca-tabs-background;
  border-bottom: 1px solid $c-lightestGrey;
  justify-content: center;
  display:flex;
  overflow-x: auto;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
  white-space: nowrap;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  &::-webkit-scrollbar {
    display: none;
  }
}

.tabs__nav {
  display: flex;
  align-items: stretch;
  width: 100%;
  max-width: $d-container-max;
  margin: 0 auto;
  padding: 0;
  @include bp($bp-tablet) {
    justify-content: center;
  }

  li {
    position: relative;
    align-items: center;
    cursor: pointer;
    display: inline-flex;
    margin: 0 $d-duo;

    &:before {
      content: '';
      left:0;
      right: 0;
      bottom: 0;
      height: 2px;
      background: $ca-tab-line-color;
      position: absolute;
      display: block;
      transform-origin: 0 0;
      transition: transform $a-timing $a-easing;
      transform: scaleX(0);
    }

    a {
      padding: 0 0 $d-duo;
    }

    &.current-menu-item,
    &.is-active,
    &:hover {
      &:before {
        transform: scaleX(1);
      }
    }

    > span,
    > strong {
      margin-left: $d-base;
      margin-right: $d-base;
    }

    &:first-child {
      margin-left: 0;
      > span,
      > strong {
        margin-left: 0;
      }
    }
    > strong {
      margin-right: 0;
    }

  }
}


