/* =========================================
Animations
========================================= */
/**
 * Prefix animation variables with $a
 */

$a-timing: 400ms;
$a-easing: cubic-bezier(0.23, 1, 0.32, 1); // http://easings.net/#easeOutQuint
$a-easing-easeInQuart: cubic-bezier(0.23, 1, 0.32, 1);

.scene {
}

.scene__item {
  -webkit-animation-duration: $a-timing;
  animation-duration: $a-timing;
  -webkit-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.scene__item--fadein {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

.scene__item--fadeinup {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}

.scene__item--delayed {
  -webkit-animation-delay: $a-timing;
  animation-delay: $a-timing;
}


// Exiting
.js-is-leaving .scene__item {
  -webkit-animation-direction: alternate-reverse;
  animation-direction: alternate-reverse;
}

.js-is-leaving .scene__item--delayed {
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}

.js-is-leaving .scene__item--noexit {
  -webkit-animation-direction: alternate-reverse;
  animation-direction: alternate-reverse;
}

