/* =========================================
Borders
========================================= */
/**
 * Prefix borders with $b_
 * You can use the 'b' mixin to
 * easily add borders
 */


$b-radius: 2px;
$b-default: 1px solid $ca-border-default;

$b-footer: 1px solid $ca-border-footer;

$b-anchor: 1px solid $ca-border-anchor;
