/* =========================================
Breakpoints
========================================= */
/**
 * Prefix breakpoints with $b_
 * You can use the 'bp' mixin to
 * easily add breakpoints
 */

$bp-nano: '(min-width: 375px)';

$bp-mobile: '(min-width: 667px)';

$bp-tablet: '(min-width: 768px)';

$bp-laptop: '(min-width: 1024px)';

$bp-desktop: '(min-width: 1280px)';

$bp-large: '(min-width: 1440px)';

$bp-4k: '(min-width: 2560px)';
