/* =========================================
Breakpoints
========================================= */
/**
 * Prefix breakpoints with $b_
 * You can use the 'bp' mixin to
 * easily add breakpoints
 */

$bp-mobile: '(min-width: 450px)';

$bp-tablet: '(min-width: 768px)';

$bp-laptop: '(min-width: 1024px)';

$bp-desktop: '(min-width: 1280px)';
