/* =========================================
Color Index
========================================= */
/**
 * Prefix colors with $c- this
 * makes them easily findable
 * with auto complete
 *
 * Give colors their names in the
 * index. This makes it easier to
 * arrange them reasonably in the
 * index
 */

$c-blue: #7CADD3;
$c-blueLight: #B4CCE4;
$c-blueDark: #366F99;
$c-blueDarker: #14517E;
$c-blueLightest: #E6EDF6;
$c-blueDarkest: #003B70;
$c-ink: #20201E;
$c-inkLight: #474644;
$c-inkLighter: #797773;
$c-inkLightest: #ADABA6;
$c-sky: #E8E5DB;
$c-skyLight: #f6f4ef;
$c-skyDark: #D1CCBF;
$c-skyLighter: #FCFBF8;
$c-white: #FFFFFF;
$c-green: #50B83C;
$c-greenLightest: #E3F1DF;
$c-yellow: #FDE61C;
$c-yellowLightest: #FFFACF;
$c-orange: #F49342;
$c-orangeLightest: #FCEBDB;
$c-red: #ED6347;
$c-redLightest: #FBEAE5;
$c-warm: #fefbf4;
$c-white: #ffffff;

/* =========================================
Colors Applied
========================================= */
/**
 * Prefix applied colors with $ca-
 * this makes them easily findable
 * with auto complete
 *
 * Define where colors where and how
 * colors are used. This makes it
 * easier to use them in the rest
 * of the sass code
 */

$ca-site-background: $c-skyLight;
$ca-mast-background: $c-white;
$ca-color-inverted: $c-white;
$ca-testimonial-background: rgba(255, 255, 255, 0.40);;
$ca-border-default: $c-sky;
$ca-border-light: $c-skyLight;
$ca-border-darker: $c-inkLightest;
$ca-hr-color: $c-sky;
$ca-color-subdued: $c-inkLightest;
$ca-content-background: $c-white;

// Footer
$ca-footer-background: $c-ink;
$ca-border-footer: $c-blueDark;

// Buttons
$ca-button-color: $c-blue;

$ca-button-inverted-background: $c-white;
$ca-button-inverted-background-hover: rgba(0, 0, 0, 0.10);
$ca-button-inverted-color: $c-blue;
$ca-button-inverted-text: $c-white;

$ca-button-primary-background-gradient: linear-gradient(-180deg, $c-blueDark 0%, $c-blueDarker 100%);
$ca-button-primary-border: $c-inkLight;
$ca-button-primary-background: $c-inkLight;
$ca-button-primary-background-hover: $c-blue;
$ca-button-primary-color: $c-white;

$ca-button-secondary-background: $c-white;
$ca-button-secondary-color: $c-ink;
$ca-button-secondary-color-hover: $c-blue;

$ca-button-tertiary-background: $c-skyLight;
$ca-button-tertiary-color: $c-inkLighter;
$ca-button-tertiary-background-hover: $c-white;
$ca-button-tertiary-color-hover: $c-blue;

$ca-border-anchor: $c-inkLightest;
$ca-border-anchor-secondary: $c-sky;
$ca-anchor-hover: $c-blue;

$ca-circle-button-hover: $c-blueDarker;

// Sections
$ca-notification-background: $c-yellowLightest;
$ca-overlay-background: $c-sky;
$ca-location-overlay-background: $c-skyLight;
$ca-faq-background: rgba(255,255,255, 0.3);
$ca-faq-active: $c-blue;

//Typography
$ca-heading-color: $c-ink;
$ca-heading-primary-color: $c-ink;
$ca-heading-secondary-color: $c-inkLighter;

$ca-footer-heading-color: $c-inkLightest;

$ca-note-color: $c-inkLightest;

$ca-paragraph-color: $c-ink;
$ca-paragraph-secondary-color: $c-inkLighter;

$ca-accent: $c-blue;
$ca-blockquote-color: $c-blueDark;

$ca-anchor-primary-color: $c-blueDark;
$ca-anchor-primary-hover-color: $c-blue;
$ca-anchor-color: $c-blueDark;
$ca-anchor-hover-color: $c-blue;
$ca-anchor-secondary-color: $c-inkLighter;
$ca-anchor-secondary-hover-color: $c-inkLight;
$ca-anchor-inverted-color: $c-white;

$ca-testimonial-quotes: $c-blueLight;

// Blob
$ca-blob-default: $c-skyDark;
$ca-blob-nav: $c-skyDark;

// Nav

$ca-nav-wrapper-background: $c-white;
$ca-nav-overlay-background: $c-ink;
$ca-nav-inverted-text: $c-white;
$ca-nav-title: $c-inkLightest;

$ca-nav-link: $c-ink;
$ca-nav-link-hover: $c-blue;

$ca-nav-link-icon: $c-inkLightest;

$ca-sub-nav-link: $c-inkLight;
$ca-sub-nav-link-hover: $c-blue;

$ca-sub-nav-background: $c-white;


$ca-logo-color: $c-blue;
$ca-spinner-color: $c-blue;
$ca-footer-icon-color: $c-white;

$ca-input-border-color: $c-sky;
$ca-input-focus-border-color: $c-skyDark;
$ca-input-background: $c-white;
$ca-input-placeholder: $c-inkLightest;

$ca-input-active: $c-ink;

// Items
$ca-item-image-background: $c-blue;

