/* =========================================
Color Index
========================================= */
/**
 * Prefix colors with $c- this
 * makes them easily findable
 * with auto complete
 *
 * Give colors their names in the
 * index. This makes it easier to
 * arrange them reasonably in the
 * index
 */

$c-blue: #7CADD3;
$c-blueLight: #B4CCE4;
$c-blueDark: #366F99;
$c-blueDarker: #14517E;
$c-blueLightest: #E6EDF6;
$c-blueDarkest: #003B70;
$c-ink: #212B36;
$c-inkLight: #454F5B;
$c-inkLighter: #637381;
$c-inkLightest: #919EAB;
$c-sky: #DFE3E8;
$c-skyLight: #F4F6F8;
$c-skyDark: #C4CDD5;
$c-skyLighter: #F9FAFB;
$c-white: #FFFFFF;
$c-green: #50B83C;
$c-greenLightest: #E3F1DF;
$c-yellow: #FDE61C;
$c-yellowLightest: #FFFACF;
$c-orange: #F49342;
$c-orangeLightest: #FCEBDB;
$c-red: #ED6347;
$c-redLightest: #FBEAE5;

/* =========================================
Colors Applied
========================================= */
/**
 * Prefix applied colors with $ca-
 * this makes them easily findable
 * with auto complete
 *
 * Define where colors where and how
 * colors are used. This makes it
 * easier to use them in the rest
 * of the sass code
 */

$ca-site-background: $c-white;
$ca-mast-background: $c-white;

$ca-footer-background: $c-blueDarkest;

$ca-color-inverted: $c-white;

$ca-border-default: $c-sky;
$ca-border-footer: $c-blueDark;
$ca-hr-color: $c-sky;

// Buttons
$ca-button-color: $c-blue;

$ca-button-inverted-background: $c-white;
$ca-button-inverted-background-hover: rgba(0, 0, 0, 0.10);
$ca-button-inverted-color: $c-blue;
$ca-button-inverted-text: $c-white;

$ca-button-primary-background-gradient: linear-gradient(-180deg, $c-blueDark 0%, $c-blueDarker 100%);
$ca-button-primary-border: $c-blueDarkest;
$ca-button-primary-background-hover: $c-blueDark;
$ca-button-primary-color: $c-white;

$ca-button-secondary-background: $c-white;
$ca-button-secondary-color: $c-blueDark;
$ca-button-secondary-color-hover: $c-blueDarkest;

$ca-border-anchor: $c-blue;
$ca-anchor-hover: $c-blue;

$ca-circle-button-hover: $c-blueDarker;

// Sections
$ca-notification-background: $c-yellowLightest;
$ca-overlay-background: $c-sky;

//Typography
$ca-heading-color: $c-blueDarkest;
$ca-heading-primary-color: $c-blueDarkest;
$ca-heading-secondary-color: $c-inkLighter;

$ca-footer-heading-color: $c-blue;

$ca-note-color: $c-blueLight;

$ca-paragraph-color: $c-ink;
$ca-paragraph-secondary-color: $c-inkLighter;

$ca-accent-color: $c-blue;
$ca-blockquote-color: $c-blueDark;

$ca-anchor-primary-color: $c-blueDark;
$ca-anchor-primary-hover-color: $c-blueDarkest;
$ca-anchor-color: $c-blueDark;
$ca-anchor-hover-color: $c-blueDarkest;
$ca-anchor-secondary-color: $c-inkLighter;
$ca-anchor-secondary-hover-color: $c-inkLight;
$ca-anchor-inverted-color: $c-white;

//Nav

$ca-nav-link: $c-blueDarkest;
$ca-nav-link-hover: $c-blueDark;

$ca-sub-nav-link: $c-inkLight;
$ca-sub-nav-link-hover: $c-blue;

$ca-sub-nav-background: $c-white;

//Atoms
$ca-logo-color: $c-blue;
$ca-spinner-color: $c-blue;
$ca-footer-icon-color: $c-white;

$ca-input-border-color: $c-sky;
$ca-input-focus-border-color: $c-skyDark;
$ca-input-background: $c-white;
$ca-input-placeholder: $c-inkLightest;
