/* =========================================
Layers
========================================= */
/**
 * Add Project Specific Indexes
 *
 * $modal-elements: append($modal-elements, close-button);
 * $elements: insert-nth($elements, sidebar-filters, 3);
 *
 * .modal .close-button {
 *    z-index: index($modal-elements, close-button);
 * }
 * .sidebar-filter {
 *    z-index: index($elements, sidebar-filter);
 * }
 */


 $l-site: main, feature, nav, curtain, header, footer, loader;

 $l-header: wrapper, header-inner, footer, toggle, locations;

 $l-footer: graphic, social, newsletter;

 $l-feature: image, overlay, cta;





