/* =========================================
Shadows
========================================= */

// button hovers
$sha-inset: inset 0 2px 1px 0 rgba(0,59,112,0.54);

// modals, dropdowns
$sha-xl: 20px 20px 40px 0 rgba(32,32,30,0.10);

// images
$sha-lg: 10px 10px 40px 0 rgba(32,32,30,0.20);

// buttons
$sha-md: 0 4px 10px 0 rgba(32,32,30,0.10);

// not sure 
$sha-sm: 0 5px 30px 5px rgba(32,32,30,0.20);