/* =========================================
Typography
========================================= */
/**
 * Prefix typography vars with $t_
 * to make them easier to find with
 * autocomplete
 *
 */

$t-em-base: 16;
$t-font-family: 'Open Sans', sans-serif;

$t-font-weight-regular: 400;
$t-font-weight-bold: 600;

$t-font-size-alpha: 40 / $t-em-base + em;
$t-font-size-beta: 26 / $t-em-base + em;
$t-font-size-gamma: 18 / $t-em-base + em;
$t-font-size-delta: 16 / $t-em-base + em;
$t-font-size-epsilon: 14 / $t-em-base + em;
$t-font-size-zeta: 12 / $t-em-base + em;

$t-font-size-alpha-mobile: 27 / $t-em-base + em;
$t-font-size-beta-mobile: 18 / $t-em-base + em;
$t-font-size-gamma-mobile: 16 / $t-em-base + em;
$t-font-size-delta-mobile: 14 / $t-em-base + em;
// $t-font-size-epsilon-mobile: 14 / $t-em-base + em;
// $t-font-size-zeta-mobile: 14 / $t-em-base + em;

$t-font-size-p-large: 18 / $t-em-base + em;
$t-font-size-p-small: 12 / $t-em-base + em;
$t-font-size-p-xlarge: 32 / $t-em-base + em;

$t-font-size-button-small: 14 / $t-em-base + em;
$t-font-size-button-large: 16 / $t-em-base + em;


