/* =========================================
Links/Anchor Component
========================================= */

a,
.link {
  display: inline-block;
  outline: none;
  color: inherit;
  text-decoration: inherit;
  color: $ca-anchor-color;
  font-weight: $t-font-weight-regular;
  transition: all $a-timing $a-easing;
  position: relative;

  &:hover,
  &:focus,
  // .current-menu-item &,
  &.is-active {
    color: $ca-anchor-hover-color;
  }

  // .current-menu-item &,
  &.is-active {
    &:focus,
    &:hover {
      color: $ca-anchor-color;
    }
  }
}

h2 a,
.link--primary {
  color: $ca-anchor-primary-color;
  &:hover,
  &:focus,
  &.is-active {
    color: $ca-anchor-primary-hover-color;
  }
}

.link--secondary {
  color: $ca-anchor-secondary-color;
  text-decoration: underline;
  &:hover,
  &:focus,
  &.is-active {
    color: $ca-anchor-primary-hover-color;
  }
}

.link--inverted {
  color: $ca-anchor-inverted-color;
}

.link--underline {
  &:after {
    position: absolute;
    content: '';
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background-color: $ca-border-anchor;
    transition: width 0.175s ease-in;
  }

  &:hover {
    color: $ca-anchor-hover;
  }

  &:hover::after {
    width: 0%;
  }
}