.curtain {
	position: fixed;
	top: 0;
	right: 0;
	height: 100%;
	width: 100%;
  z-index: index($l-site, curtain);
	pointer-events: none;
  will-change: opacity;
}

.curtain__inner {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	margin: 0;
	background: $ca-curtain-background;
	overflow: hidden;
}

.curtain__logo {
  position: fixed;
  bottom: -75vh;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.1;
}

