/* =========================================
Icon Component
========================================= */

.icon {
  display: inline-block;
  max-width: 100%;
}

.icon--logo {
  display: flex;
  max-width: $d-dec * 2;
  max-height: $d-dec;
}


.icon--dropdown {
  max-width: $d-trio;
  max-height: $d-trio;
}



