/* =========================================
Icon Component
========================================= */

.icon {
  display: inline-block;
  max-width: 100%;
}

.icon--dropdown {
  max-width: $d-trio;
  max-height: $d-trio;
}



