
input {
  order: 1;
  border:0;
  padding: 0;
  margin: 0;
  box-shadow: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100%;
  outline: none;
  font-family: $t-font-family;
  line-height: 1.5;
}

.input__base {
  background-color: $ca-input-background;
  border: $b-default;
  border-radius: 2px;
  color: $ca-input-placeholder;
  height: $d-quin;
  padding-left: $d-duo;
  font-size: $t-font-size-epsilon;
}