.logo {
  pointer-events: auto;
  top: -$d-base;

  .logo__word {
    display: none;
    @include bp($bp-tablet) {
      display: block;
    }
  }

  .logo__icon {
    display: block;
    @include bp($bp-tablet) {
      display: none;
    }
  }
}

