.revealer {
  position: relative;
  margin-bottom: 1px;
  width: 100%;
  overflow: hidden;

  input {
    position: absolute;
    opacity: 0;
    z-index: -1;
  }

  label {
    position: relative;
    display: block;
    background: transparent;
    cursor: pointer;
    line-height: 1.6;
  }

  &:hover {
    label {
      color: $ca-faq-active;
      background: $ca-faq-background;
      transition: all $a-timing $a-easing;
    }
  }
}

.revealer__content {
  max-height: 0;
  overflow: hidden;
  background: transparent;
  -webkit-transition: max-height .35s;
  -o-transition: max-height .35s;
  transition: max-height .35s;
  background: $ca-faq-background;
}

.revealer__content p {
  padding: 0 $d-trio $d-quin $d-trio;
}

/* :checked */
input:checked ~ .revealer__content {
  max-height: 1680px;
}

input:checked ~ label {
  color: $ca-faq-active;
  background: $ca-faq-background;
}

/* Icon */
label::after {
  position: absolute;
  right: $d-duo;
  top: 20px;
  display: block;
  width: 2em;
  height: 2em;
  line-height: 2;
  text-align: center;
  -webkit-transition: all .35s;
  -o-transition: all .35s;
  transition: all .35s;
}

input[type=checkbox] + label::after {
  content: "+";
}

input[type=checkbox]:checked + label::after {
  transform: rotate(315deg);
}
