// All banners

.banner {
  display: flex;
  padding: $d-dec;
  position: relative;
  overflow: hidden;

  &:hover img {
    transform: scale(1.1);
  }

  h1, h2, p, a {
    text-align: left;
  }
}

.banner__text {
  padding-top: $d-quin;
}

.banner__image, .banner__text {
  max-width: 50%;
}

.banner__image-crop {
  height: 640px;
  overflow: hidden;
  justify-content: space-around;
  display: flex;
  box-shadow: $sha-xl;
}

.banner__image {
  
  img {
    height: 640px;
    object-position: center;
    object-fit: cover;
    transition: all 1.2s;
  }
}


// Left and Right

.banner__left {
  flex-direction: row-reverse;
}

.banner__left .banner__text {
  padding-left: $d-sex;
  padding-right: 0;
  padding-top: $d-dec;
}

.banner__right .banner__text {
  padding-right: $d-sex;
  padding-left: 0;
  padding-top: $d-dec;
}


// Centered

.banner__center {
  text-align: center;
  flex-direction: column-reverse;

  .banner__text {
    max-width: 860px;
    margin: 0 auto;
  }

  h1, h2, p, a {
    text-align: center;
  }

  .banner__image-crop {
    height: 480px;
    overflow: hidden;
    width: auto;
    margin: 0 auto;
  }

  img {
    height: 100%;
    width: auto;
    object-position: center;
    object-fit: contain;
  }
}

.banner__background {
  top: 0;
  position: absolute;
  height: 100%;
  width: 100vw;
  z-index: -1;
  pointer-events: none;
  background-image: url($p-svg + 'halftone-trio.svg');
  background-position: 42% 0%;
  background-repeat: no-repeat;

  .banner__center & {
    background-position: 10% 60%;    
  }

  .banner__left & {
    background-position: 60% 100%;    
  }

  // .banner--1 & {
  //   background-image: url($p-svg + 'halftone-trio.svg');
  // }

  // .banner--2 & {
  //   background-image: url($p-svg + 'halftone-shift.svg');
  // }

  // .banner--3 & {
  //   background-image: url($p-svg + 'halftone-peak.svg');
  // }

  // .banner--4 & {
  //   background-image: url($p-svg + 'halftone-arrow.svg');
  // }
}
