// All banners

.banner {
  display: flex;
  padding: $d-sex $d-trio;
  position: relative;
  overflow: hidden;
  flex-direction: column;

  @include bp($bp-mobile) {
    flex-direction: row;
  }

  @include bp($bp-tablet) {
    padding: $d-dec;
    flex-direction: row;
  }

  @include bp($bp-4k) {
    padding: $d-twe;
  }

  &:hover img {
    transform: scale(1.1);
  }

  h1, h2, p, a {
    text-align: left;
  }
}

.banner__text {
  padding-top: 0;
  padding-bottom: $d-trio;
  h1,
  h2,
  p {
    text-align: center;
  }
  @include bp($bp-mobile) {
    padding-top: $d-quin;
    padding-bottom: 0;
    h1,
    h2,
    p {
      text-align: left;
    }
  }
}

.banner__image, .banner__text {
  max-width: 100%;

  @include bp($bp-mobile) {
    max-width: 50%;
  }
}

.banner__image-crop {
  height: 540px;
  overflow: hidden;
  justify-content: space-around;
  display: flex;
  box-shadow: $sha-xl;

  @include bp($bp-mobile) {
    height: 540px;
  }

  @include bp($bp-tablet) {
    height: 640px;
  }
}

.banner__image {
  
  img {
    height: 540px;
    object-position: center;
    object-fit: cover;
    transition: all 1.2s;

    @include bp($bp-tablet) {
      height: 640px;
    }
  }
}


// Left and Right

.banner__left {
  flex-direction: column;

  @include bp($bp-mobile) {
    flex-direction: row-reverse;
  }
}

.banner__left .banner__text {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;

  @include bp($bp-mobile) {
    padding-left: $d-sex;
    padding-top: $d-dec;
  }
}

.banner__right .banner__text {
  padding-right: 0;
  padding-left: 0;
  padding-top: 0;
  
  @include bp($bp-mobile) {
    padding-right: $d-sex;
    padding-top: $d-dec;
  }
  @include bp($bp-4k) {
    padding-right: $d-twe;
  }
}


// Centered

.banner__center {
  text-align: center;
  flex-direction: column;

  @include bp($bp-mobile) {
    flex-direction: column-reverse;
  }

  .banner__text {
    max-width: 860px;
    margin: 0 auto;
    padding-top: $d-dec;

    @include bp($bp-tablet) {
      padding-top: $d-sep;
    }
  }

  h1, h2, p, a {
    text-align: center;
  }

  .banner__image-crop {
    height: 480px;
    overflow: hidden;
    width: auto;
    margin: 0 auto;
  }

  img {
    object-position: center;
    object-fit: cover;
    transition: all 1.2s;

    @include bp($bp-mobile) {
      height: 100%;
      width: auto;
      object-fit: contain;
    }
  }
}

.banner__link {
  margin-top: $d-base;
}

.banner__background {
  top: 0;
  position: absolute;
  height: 100%;
  width: 100vw;
  z-index: -1;
  pointer-events: none;
  background-position: 42% 0%;
  background-repeat: no-repeat;

  .banner__center & {
    background-position: 10% 60%;    
  }

  .banner__left & {
    background-position: 60% 100%;    
  }
}
