
.blob {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0 auto;
  position: fixed;
  top: 0;
  left: 0;
  align-content: space-between;
  width: 100%;
  max-width: none;
  height: 100vh;
  pointer-events: none;
  z-index: -1;
  display: block;
  * {
    pointer-events: none;
  }
}

.blob__item {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  pointer-events: none;
  z-index: 1;

  path {
    fill: $ca-blob-default;
    opacity: 0.12;
    pointer-events: none;
  }
}

#morphing {
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  pointer-events: none;

  .morphing-one {
    margin: auto;
    position: absolute;
    top: 0; 
    left: 0; 
    bottom: 0; 
    right: 0;
    z-index: 10;
    pointer-events: none;
  }
  .morphing-two {
    margin: auto;
    position: absolute;
    top: 0; 
    left: 0; 
    bottom: 0; 
    right: 0;
    z-index: 5;
    pointer-events: none;
  }
  .morphing-three {
    margin: auto;
    position: absolute;
    top: 0; 
    left: 0; 
    bottom: 0; 
    right: 0;
    z-index: 15;
    pointer-events: none;
  }
}