.cta {
  overflow: hidden;
  padding: $d-sex 0 $d-quad;
  
  @include bp($bp-tablet) {
    padding: $d-oct $d-quad $d-sex;
  }
  @include bp($bp-laptop) {
    padding: $d-oct $d-dec $d-sex;
  }
}

.cta__button {
  padding: $d-duo;
}
