.faq-question {
  position: relative;
  margin-bottom: 1px;
  width: 100%;
  overflow: hidden;
  font-size: $t-font-size-gamma;
  border-bottom: $b-default;
}

input {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

label {
  position: relative;
  display: block;
  padding: $d-trio $d-sex $d-trio $d-trio;
  background: transparent;
  cursor: pointer;
  line-height: 1.6;
}

.faq-answer {
  max-height: 0;
  overflow: hidden;
  background: transparent;
  -webkit-transition: max-height .35s;
  -o-transition: max-height .35s;
  transition: max-height .35s;
  background: $ca-faq-background;  
}

.faq-answer p {
  padding: 0 $d-trio $d-quin $d-trio;
}

/* :checked */
input:checked ~ .faq-answer {
  max-height: 480px;
}

input:checked ~ label {
  color: $ca-heading-secondary-color;
  background: $ca-faq-background;
}

/* Icon */
label::after {
  position: absolute;
  right: $d-duo;
  top: $d-trio;
  display: block;
  width: 2em;
  height: 2em;
  line-height: 2;
  text-align: center;
  -webkit-transition: all .35s;
  -o-transition: all .35s;
  transition: all .35s;
}

input[type=checkbox] + label::after {
  content: "+";
}

input[type=checkbox]:checked + label::after {
  transform: rotate(315deg);
}
