// All banners

.feature {
  display: flex;
  flex-direction: column;
  z-index: index($l-site, feature);

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;

    li {
      padding-right: $d-trio;
    }
  }
}

.feature__text {
  width: 800px;
  position: absolute;
  z-index: index($l-feature, cta);
  top: 180px;
  padding-left: $d-dec;
}

.feature__overlay {
  background-image: linear-gradient(90deg, rgba(255,255,255,0.90) 0%, rgba(255,255,255,0.00) 59%);
  position: absolute;
  z-index: index($l-feature, overlay); 
  height: 100%;
  width: 100%;
}

.feature__image {
  width: 100%;
  height: auto;
  z-index: index($l-feature, image);
}

.feature__title {
  line-height: 1.15;
  padding-bottom: $d-quad;
}

.feature__subtitle {
  padding-bottom: $d-quin;
  min-width: 724px;
}
