// All banners

.feature {
  display: flex;
  flex-direction: column;
  z-index: index($l-site, feature);
  position: relative;
  text-align: center;
  min-height: 100vh;
  overflow: hidden;

  @include bp($bp-mobile) {
    min-height: auto;
    text-align: inherit;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;

    @include bp($bp-tablet) {
      justify-content: start;
    }

    li {
      padding-right: $d-duo;
      padding-bottom: $d-base;
      text-align: center;

      &:last-child {
        padding-right: 0;
      }

      @include bp($bp-tablet) {
        text-align: left;
        padding-right: $d-trio;
      }
    }
  }
}

.feature__text {
  width: 100%;
  position: absolute;
  z-index: index($l-feature, cta);
  top: 180px;
  padding-left: $d-trio;
  padding-right: $d-trio;

  @include bp($bp-tablet) {
    top: 200px;
    width: 800px;
  }
  @include bp($bp-laptop) {
    top: 180px;
    padding-left: $d-dec;
    width: 800px;
  }
  @include bp($bp-4k) {
    top: 320px;
    padding-left: $d-twe;
  }
}

.feature__overlay {
  background-color: transparent;
  position: absolute;
  z-index: index($l-feature, overlay); 
  height: 100vh;
  width: 100%;
  background-color: rgba(255,255,255,0.40);


  @include bp($bp-tablet) {
    background-color: transparent;
    background-image: linear-gradient(90deg, rgba(255,255,255,0.90) 17%, rgba(255,255,255,0.00) 95%);
  }
}

.feature__links {
  width: 100%;
  padding-bottom: $d-quin;
}

.feature__link {
  padding-right: $d-duo;
}

.feature__image {
  width: auto;
  height: 100vh;
  z-index: index($l-feature, image);

  img {
    height: 100vh;
    object-position: center;
    object-fit: cover;
  }

}

.feature__title {
  line-height: 1.15;
  padding-bottom: $d-duo;

  @include bp($bp-mobile) {
    padding-bottom: $d-trio;    
  }
  @include bp($bp-tablet) {
    width: 724px;
    padding-bottom: $d-quad;
  }
  @include bp($bp-4k) {
    width: 1200px;
  }
}

.feature__subtitle {
  padding-bottom: $d-duo;
  width: 100%;

  @include bp($bp-tablet) {
    padding-bottom: $d-trio;
    width: 724px;
  }
}
