/* =========================================
Footer Component
========================================= */

.note {
  color: $ca-note-color;
  font-size: $t-font-size-zeta;
}

.footer {
  padding-bottom: $d-base;
  padding-top: $d-sex;
  background-color: $ca-footer-background;
  margin-top: $d-twe;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -100%);
    width: 100%;
    background-image: url($p_svg + 'waves.svg');
    background-position: center top;
    background-size: cover;  
    height: 40px;

    @include bp($bp-tablet) {
      height: 60px;
    }

    @include bp($bp-laptop) {
      height: 80px;
    }
  }

  .js-is-loading & {
    opacity: 0;
  }
}

.footer__icon {
  color: $ca-footer-icon-color;
}

.footer__heading {
  color: $ca-footer-heading-color;
}

.hours__item {
  width: 50%;
}

.footer__bottom {
  border-top: $b-footer;
  padding-top: $d-trio;
}

.footer__bottom .menu-item a {
  &:hover {
    color: $ca-anchor-hover;
  }
} 