.grid {
  padding: $d-quin $d-trio;

  @include bp($bp-tablet) {
    padding: $d-quin $d-dec;
  }
}

.grid__header {
  text-align: left;
}

.grid__items {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.grid__item {
  width: 100%;
  padding: $d-base $d-trio $d-base 0;

  @include bp($bp-tablet) {
    width: 32%;
    padding: $d-duo $d-trio $d-duo 0;
  }
}
