.grid {
  padding: $d-quin $d-dec;
}

.grid__header {
  text-align: left;
}

.grid__items {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.grid__item {
  width: 32%;
  padding: $d-duo $d-trio $d-duo 0;
}
