svg.hamburger {
  overflow: visible;
}

.hamburger {
  height: $d-trio;
  width: $d-trio;
  fill: $ca-nav-link;

  path {
    transition: .2s;
    transform-origin: center;
  }

  .nav--is-visible &,
  .is-active > &,
  &:hover {
    fill: $ca-nav-link-hover;

    .p1 { 
      transform: translateY(7px) rotate(45deg);
    }
    .p2 { 
      opacity: 0;
    }
    .p3 { 
      transform: translateY(-6px) rotate(-45deg);
    }
  }

  .nav--is-visible & {
    fill: $ca-nav-inverted-text;
  }

  .locations--is-visible & {
    fill: $ca-nav-link-hover;
  }
}