.header {
  z-index: index($l-site, header);
  width: 100%;
  position: absolute;

  @include bp($bp-tablet) {
    padding: $d-quad $d-dec;
  }
}

.header__inner {
  display: flex;
  justify-content: space-between;
}

.header__toggle {
  display: block;
  position: absolute;
  top: 53px;
  right: $d-dec;
  z-index: index($l-nav, toggle);

  svg {
    
  }
}

.header__logo {
  display: flex;
  height: $d-quin;
  width: 170px;

  img {
    display: block;
  }
}

.header__nav {
  align-items: baseline;
  margin-right: $d-sep;
  
  a {
    color: $ca-nav-link;
    font-weight: $t-font-weight-bold;
    padding-right: $d-trio;
    padding-top: $d-trio;

    svg {
      fill: $ca-nav-link-icon;
    }

    &:hover {
      color: $ca-nav-link-hover;
    }
  }
}

.nav {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: auto;
  width: auto;
  background: blue;

  &.is-active {
    display: block;
  }
}

