.header {
  z-index: index($l-site, header);
  width: 100%;
  position: absolute;
  padding: $d-quad $d-trio;

  @include bp($bp-tablet) {
    padding: $d-quad $d-dec;
  }
}

.header__inner {
  display: flex;
  justify-content: space-between;
}

.header__toggle {
  display: block;
  position: absolute;
  top: 50px;
  right: $d-trio;
  z-index: index($l-nav, toggle);

  @include bp($bp-tablet) {
    right: $d-dec;
  }

  .hamburger {
    height: $d-trio;
    width: $d-trio;
    fill: $ca-nav-link;

    path {
      transition: .2s;
      transform-origin: center;
    }

    &:hover {
      fill: $ca-nav-link-hover;

      .p1 { 
        transform: translateY(10px) rotate(45deg);
      }
      .p2 { 
        opacity: 0;
      }
      .p3 { 
        transform: translateY(-8px) rotate(-45deg);
      }
    }
  }
}

.header__logo {
  display: flex;
  height: $d-quin;
  width: 170px;

  img {
    display: block;
  }
}

.header__nav {
  align-items: baseline;
  margin-right: $d-quad;
  
  a {
    color: $ca-nav-link;
    font-weight: $t-font-weight-bold;
    padding-right: $d-trio;
    padding-top: $d-trio;

    svg {
      fill: $ca-nav-link-icon;
    }

    &:hover {
      color: $ca-nav-link-hover;
    }
  }
}

.nav {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: auto;
  width: auto;
  background: blue;

  &.is-active {
    display: block;
  }
}

