
input {
  order: 1;
  border:0;
  padding: 0;
  margin: 0;
  box-shadow: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100%;
  outline: none;
  font-family: $t-font-family;
  line-height: 1.5;
}

.input__base {
  background-color: $ca-input-background;
  border: $b-default;
  border-radius: 2px;
  color: $ca-input-placeholder;
  height: $d-quin;
  padding-left: $d-duo;
  font-size: $t-font-size-epsilon;
}

.input__select {
  color: $ca-input-active;
}

.input__large {
  height: $d-sep;
  font-size: $t-font-size-button-large;
}

.find-clinician {
  appearance: none;
  padding: $d-duo;
  margin-right: $d-duo;
  width: 63%;
  background-color: $ca-button-primary-background;
  background-image: url($p_svg + 'toggle-down.svg');
  background-repeat: no-repeat;
  background-position: 96% center; 
  color: $ca-button-primary-color;
  border: $b-button-primary;
  box-shadow: $sha-md;
  font-weight: $t-font-weight-bold;

  &:hover {
    background-color: $ca-button-primary-background-hover;
    box-shadow: $sha-inset;
    transition: all 0.175s ease-in-out;
  }
}