.items__staff,
.items__services {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: $d-trio;

  @include bp($bp-tablet) {
    flex-direction: row;
  }
  @include bp($bp-laptop) {
    flex-direction: row;
    padding: $d-quin;
  }
}

.item--staff,
.item--services {
  padding-bottom: $d-quin;
  flex-basis: auto;

  &:hover {
    img {
      // mix-blend-mode: luminosity;
      transform: scale(1.1);
      transition: transform 1s ease-in-out;
    }
    .item__text h3 {
      color: $ca-nav-link-hover;
    }
  }

  @include bp($bp-tablet) {
    flex-basis: 30%;
  }
}

.item__image {
  box-shadow: $sha-lg;
  height: 320px;
  overflow: hidden;
  background-color: $ca-item-image-background;

  img {
    transform: scale(1);
    height: 320px;
    object-position: center;
    object-fit: cover;
    transition: transform 1s ease-in-out;
  }
}

.item__text {
  padding-top: $d-duo;

  .item__title {
    padding-bottom: $d-half;
  }
}