/* =========================================
List Component
========================================= */

.list {
  &,
  li {
    margin: 0;
    padding: 0;
    list-style:none;
  }
  
  flex-direction: row;
  display: flex;
  flex-wrap: wrap;
}

.list-sidebar {
  li {
    width: 100%;
  }
}

.list-item {
  display: block;
}

.list--small {
  font-size: $t-font-size-zeta;
}

.list--medium {
  font-size: $t-font-size-epsilon;
}

.list--large {
  font-size: $t-font-size-beta;
}

.list--nowrap {
  flex-wrap: nowrap;
}

.list--spaced-horizontal {
  li {
    padding: 0 $d-base;
  }

  li:first-child {
    padding-left: 0;
  }
}

.list--spaced-vertical {
  li {
    padding: $d-base 0;
  }
}

.list--vertical {
  flex-direction: column;
}

.list--justify-center {
  justify-content: center;
}

.list--justify-right {
  justify-content: flex-end;
}
.list--right--tablet {
  @include bp($bp-tablet) {
    justify-content: flex-end;
  }
}

.list--align-center {
  align-items: center;
}

.list--sep-slash {
  li:after {
    content: '';
    padding-left: 1px;
    padding-right: 1px;
  }
  li:last-child:after {
    content: '';
  }
}

.list--sep-comma {
  li:after {
    content: ', ';
    padding-right: 3px;
  }
  li:first-child:after,
  li:last-child:after {
    content: '';
  }
}

.related_fees {
  padding-top: $d-duo;
  padding-right: $d-duo;
}

.fee {
  display: flex;
  justify-content: space-between;
  border-bottom: $b-dashed;
  margin-bottom: $d-duo;
}

.fee__type {
  padding-left: $d-base;
}