.contactLocations {
  padding: 0;

  @include bp($bp-tablet) {
    padding: $d-dec;
  }

  h2 {
    padding-left: $d-trio;

    @include bp($bp-tablet) {
      padding-left: 0;
    }
  }
}

.location_referral {
  width: 100%;
}

.contactLocations__container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
}

.contactLocation {
  width: 100%;

  @include bp($bp-tablet) {
    width: 48%;
  }

  .phone {
    padding-right: $d-trio;
  }

  .note {
    color: $ca-contact-note-color;
  }

  .location__image {
    max-width: 640px;

    img {
      height: 100%;

      @include bp($bp-tablet) {
        height: auto;
      }
    }
  }
}

.contactLocation__info {
  padding-bottom: $d-duo;
}

.contactLocation__container {
  background-color: rgba(255, 255, 255, 0.4);
  padding: $d-trio;

  @include bp($bp-tablet) {
    padding: $d-quin;
  }
}
