.mast {
  padding: $d-twe $d-quad $d-duo $d-quad;
  text-align: center;
  margin: 0 auto;

  @include bp($bp-tablet) {
    max-width: 870px;
  }

  .subtitle {
    padding-bottom: $d-trio;
  }
}

.mast-single {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: left;
  max-width: none;
  margin: 0;
  width: 100%;
  padding: $d-twe $d-trio $d-trio $d-trio;

  @include bp($bp-tablet) {
    flex-direction: row;
    flex-wrap: wrap;
  }

  @include bp($bp-laptop) {
    padding: $d-twe $d-dec $d-trio $d-dec;
  }
}