.mast {
  padding: $d-twe $d-quad $d-duo $d-quad;
  text-align: center;
  margin: 0 auto;

  @include bp($bp-tablet) {
    max-width: 870px;
  }

  .subtitle {
    padding-bottom: $d-trio;
  }
}

.mast-single {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: left;
  max-width: none;
  margin: 0;
  width: 100%;
  padding: $d-twe $d-trio $d-trio $d-trio;
}

.link--back {

  .icon {
    width: $d-duo;
    height: $d-duo;
    margin-right: $d-base;
  }
  width: 30%;
}
