.nav--is-visible {
  overflow: hidden;
}

.nav {
  .blob {
    z-index: 1;
  }

  display: none;
  background: $ca-nav-overlay-background;
  padding: $d-dec * 2 $d-trio;
  min-height: 100vh;

  @include bp($bp-tablet) {
    padding: $d-dec * 2 $d-dec;
    overflow: hidden;
  }

  .nav__inner {
    justify-content: space-between;
  }

  .list__inner {
    display: flex;
    flex-direction: column;
    align-items: left;

    @include bp($bp-mobile) {
      align-items: center;
    }
  }

  .menu-item a {
    color: $ca-nav-inverted-text;

    &:focus,
    &:hover {
      color: $ca-nav-link-hover;
    }
  }

  .nav--is-visible & {
    display: block;
  }

  .blob__item {
    path {
      fill: $ca-blob-nav;
      opacity: 0.03;
    }
  }
}

.nav__outside {
  display: none;

  .nav--is-visible & {
    display: flex;
  }

  @include bp($bp-tablet) {
    display: flex;
  }
}

.nav__title {
  color: $ca-nav-title;
  border-bottom: $b-darker;
  margin-bottom: $d-duo;
}

.nav__list {
  padding-top: $d-elf;
  flex-grow: 0;
  width: 100%;
  flex-basis: auto;

  @include bp($bp-nano) {
    padding-top: $d-quin;
    width: auto;
    flex-grow: 1;
    flex-basis: 0;

    margin-right: $d-quin;

    &:last-child {
      margin-right: 0;
    }
  }

  li {
    padding-bottom: $d-base;
    font-size: $t-font-size-gamma;
  }
}

.show-when--nav--is-visible {
  display: none;

  .nav--is-visible & {
    display: block;
  }
}

.nav--is-visible .hide-when--nav--is-visible {
  display: none;
}
