.locations {
  display: none;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: auto;
  width: auto;
  background-color: rgba(51,62,71,0.7);
  opacity: 0.5;
  z-index: index($l-header, locations);
  position: fixed;

  .locations--is-visible & {
    display: flex;
    opacity: 1;
    box-shadow: $sha-xl;
  }
}

.locations__inner {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: auto;
  width: auto;
  overflow: scroll;
  transform: translate(0,0);
}

.locations__header,
.locations__container {
  display: flex;
  justify-content: space-between;
}

.locations__container {
  flex-direction: column;

  @include bp($bp-tablet) {
    flex-direction: row;
  }
}

.locations__header {
  padding-bottom: $d-base;
}

.location__item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: $d-quin;

  @include bp($bp-tablet) {
    flex-direction: column;
    padding-bottom: 0;
  }
}

.location__info {
  flex-grow: 2;
  padding-left: $d-trio;

  @include bp($bp-tablet) {
    flex-grow: 1;
    padding-left: 0;
  }
}

.locations__wrapper {
  margin: auto;
  min-width: 100%;
  overflow: auto;
  overflow-x: hidden;
  padding: $d-sep $d-trio;
  position: relative;
  width: 100%;
  height: 100%;
  background: $ca-location-overlay-background;
  padding: $d-trio;

  @include bp($bp-laptop ) {
    padding: $d-quin;
  }
}

.location__image {
  max-width: 96px;
  padding-bottom: $d-trio;
  flex-grow: 1;

  img {
    object-position: center;
    object-fit: cover;
    height: 96px;
    overflow: hidden;
  }

  @include bp($bp-mobile) {
    max-width: 240px;

    img {
      object-position: center;
      object-fit: contain;
      height: auto;
      overflow: visible;
    }

  }
  
  @include bp($bp-tablet) {
    max-width: 340px;
  }

  @include bp($bp-large) {
    max-width: 640px;
  }

  @include bp($bp-4k) {
    max-width: 900px;
  }
}

