
/* =========================================
Spinner Component
========================================= */

.spinner {
  display: block;
  font-weight: $t-font-weight-bold;
  color: $ca-spinner-color;

  &.spinner--right {
    justify-content: flex-end;
  }
}


.loading {
  display: inline-block;
  overflow: hidden;
  height: 69px;
  margin-top: -0.1em;
  line-height: 1.5em;
  font-size: 32px;
  vertical-align: text-bottom;
}

.loading::after {
  display: none;
  // display: inline-table;
  white-space: pre;
  text-align: left;
}

/* default loading is ellip */
.loading::after {
  content: "\A.\A..\A...";
  animation: spin4 2s steps(4) infinite;
}

.loading.open-circle::after {
  content: "◜\A◠\A◝\A◞\A◡\A◟";
  animation: spin6 .6s steps(6) infinite;
}


/* --- Animations --- */

@keyframes spin4  { to { transform: translateY( -6.0em); } }
@keyframes spin6  { to { transform: translateY( -9.0em); } }
