.testimonials {
  background: $ca-testimonial-background;
  width: 100%;
  margin-top: $d-dec;
  display: inline-block;
}

.testimonials__header {
  margin: 0 auto;
  padding-top: $d-quin;
}

.testimonial {
  flex: 0 0 auto;
  width: 100%;
  text-align: center;
  padding: $d-quin $d-sex;
  overflow: hidden;
  position: relative;

  @include bp($bp-tablet) {
    padding: $d-quin 160px $d-dec;
  }
}

.testimonial__text {
  line-height: 1.6;
}

.testimonials__buttons {

  .button--circle {
    border: $b-default;
    color: $ca-heading-secondary-color;
    background-color: transparent;

    svg {
      fill: $ca-heading-secondary-color;
    }

    :hover & {
      border: $b-accent;
      color: $ca-accent;

      svg {
        fill: $ca-accent;
      }
    }

    
  }
}


