.testimonials {
  padding: $d-duo 0 $d-sex;
}

.testimonial {
  flex: 0 0 auto;
  width: 100%;
  text-align: center;
  padding: $d-duo;
  @include bp($bp-tablet) {
    padding: $d-quin $d-sex;
  }

  position: relative;
  &:after {
    z-index: -1;
    content: '“';
    position: absolute;
    top: 0;
    left: 0;
    line-height: .8;
    font-size: 300px;
    @include bp($bp-tablet) {
      font-size: 600px;
    }
  }
}

.testimonials {
  margin: auto;
}


