/* =========================================
Basic/Global Typography
========================================= */

body,
html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: $t-font-family;
  font-size: 16px;
  line-height: 1.25;

  &.nav-is-shown {
    overflow: hidden;
  }

  @include bp($bp-tablet) {
  }
}

.text--align-left {
  text-align: left !important;
}

.text--align-right {
  text-align: right;
}

.text--align-center {
  text-align: center;
}



b,
strong,
.font-weight-bold,
.strong {
  font-weight: $t-font-weight-bold !important;
}

p,
ul,
h1,
h2,
h3,
h4,
h5,
h6,
span {
  &.text--inverted {
    *,
    & {
      color: $ca-color-inverted;
    }
  }
}

p,
ul,
h1,
h2,
h3,
h4,
h5,
h6 {
  &.text--subdued {
    *,
    & {
      color: $ca-color-subdued;
    }
  }
}


.format {

  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  li,
  h6 {
    @extend .secondary;
  }
  a:not(.button) {
    @extend .link--primary;
  }

  ol,
  ul,
  li {
    margin: 0;
    padding:0;
  }

  li {
    padding-bottom: $d-duo;
  }

  hr {
    margin: 0 0 $d-duo 0;
    border: 0;
    border-top: 1px solid $ca-hr-color;
  }
  
}



