/* =========================================
Heading Typography
========================================= */

h1,
h2,
h3,
h4,
h5,
h6 {
  text-rendering: optimizeLegibility;
  color: $ca-heading-color;
  font-weight: $t-font-weight-regular;
  margin: 0;
  padding-bottom: $d-duo;
  &.primary {
    color: $ca-heading-primary-color;
  }
  &.secondary {
    color: $ca-heading-secondary-color;
  }
  &.inline-block {
    display: inline-block;
  }
}

h1 {
  font-size: $t-font-size-alpha-mobile;
  font-weight: $t-font-weight-bold;
  padding-bottom: $d-duo;
  @include bp($bp-tablet) {
    font-size: $t-font-size-alpha;
  }
}

h2 {
  font-size: $t-font-size-beta-mobile;
  font-weight: $t-font-weight-regular;
  @include bp($bp-tablet) {
    font-size: $t-font-size-beta;
  }
  line-height: 1.4;
}

h2.secondary p {
  color: $ca-heading-secondary-color;
}

h3 {
  font-size: $t-font-size-gamma;
}

h4 {
  font-size: $t-font-size-delta;
}

h5 {
  font-size: $t-font-size-epsilon;
  font-weight: $t-font-weight-regular;
}

h6 {
  font-size: $t-font-size-zeta;
}

.alpha {
  @extend h1;
}

.beta {
  @extend h2;
}

.gamma {
  @extend h3;
}

.delta {
  @extend h4;
}

.epsilon {
  @extend h5;
}
