/* =========================================
Paragraph Typography
========================================= */

p,
.p {
  color: $ca-paragraph-color;
  margin: 0;
  padding: 0 0 $d-duo;
  line-height: 1.8;

  &.secondary {
    color: $ca-paragraph-secondary-color;
  }

  .secondary & {
    color: $ca-paragraph-secondary-color;
  }
}

.p--small > p,
p.p--small {
  font-size: $t-font-size-p-small;
}


.p--large > p,
p.p--large {
  padding: 0 0 $d-duo;
  @include bp($bp-tablet) {
    font-size: $t-font-size-p-large;
  }
}

.p--xlarge > p,
p.p--xlarge {
  padding: 0 0 $d-quad;
  @include bp($bp-tablet) {
    font-size: $t-font-size-p-xlarge;
  }
}

.p--hard {
  padding: 0 !important
}

blockquote {
  padding: $d-quad;
  margin: 0;

  p {
    font-size: $t-font-size-p-large;
    font-style: italic;
    color: $ca-blockquote-color;
  }
}

.primary__text {
  line-height: 1.8;
}

