.page__content {
  padding: 0 $d-quad;
}

.content-container {
  display: flex;
  flex-direction: column-reverse;
  flex-wrap: wrap;
  padding: 0 $d-trio $d-trio;

  @include bp($bp-tablet) {
    flex-direction: row;
    flex-wrap: wrap;
  }

  @include bp($bp-laptop) {
    padding: 0 $d-dec $d-trio;
  }
}

.content-background {
  position: relative;

  &:after {
    display: inline-block;
    content: '';
    height: 100%;
    width: 100%;
    position: absolute;
    top: $d-sep;
    background-color: $ca-content-background;
    z-index: -1;
  }
}

.single__sidebar {
  width: 100%;
  position: relative;
  top: 0;

  @include bp($bp-tablet) {
    width: 30%;
    top: $d-elf;
  }
}

.primary__content {
  width: 100%;

  @include bp($bp-tablet) {
    width: 60%;
  }
}

.sidebar-section {
  margin-right: 0;
  padding-bottom: $d-trio;

  @include bp($bp-tablet) {
    margin-right: $d-trio;
  }
}

.primary__text {
  padding: $d-quin $d-quin $d-quin 0;

  @include bp($bp-tablet) {
    padding: $d-quin $d-sex $d-quin 0;
  }
}

.primary__image {
  height: 320px;
  overflow: hidden;
  width: 100%;
  margin: 0 auto;
  box-shadow: $sha-xl;

  @include bp($bp-tablet) {
    height: 480px;
    width: auto;
  }

  img {
    height: 320px;
    object-position: center;
    object-fit: cover;
    transition: all 1.2s;

    @include bp($bp-tablet) {
      height: 480px;
    }
  }
}

.categories-assigned {
  padding-top: $d-trio;

  a {
    font-size: $t-font-size-epsilon;
    color: $ca-heading-secondary-color;
    text-decoration: none;

    &:after {
      position: absolute;
      content: '';
      left: 0;
      bottom: 0;
      width: 100%;
      height: 1px;
      background-color: $ca-border-anchor-secondary;
      transition: width 0.175s ease-in;
    }
  }
}

.sidebar-action {
  padding-top: $d-quin;
  padding-bottom: $d-quin;
}

.tertiary__content {
  padding: $d-trio;
  position: relative;
  top: $d-dec;
  margin-bottom: $d-quin;

  @include bp($bp-laptop) {
    padding: $d-trio $d-dec;
  }
}

.related-items {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;

  @include bp($bp-tablet) {
    flex-direction: row;
  }
}

.related-item {
  width: 100%;

  @include bp($bp-tablet) {
    width: 30%;
  }
}

.related-header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  height: $d-trio;
  margin-bottom: $d-trio;
}